@import url(./page.css);
@import url(./header/header.css);
@import url(./header/__title/header__title.css);
@import url(./header/__subtitle/header__subtitle.css);
@import url(./header/__main-illustration/header__main-illustration.css);
@import url(./header/__square-pic/header__square-pic.css);
@import url(./logo/logo.css);
@import url(./logo/_place_header/logo_place_header.css);
@import url(./description/description.css);
@import url(./two-columns/two-columns.css);
@import url(./two-columns/__brief/two-columns__brief.css);
@import url(./two-columns/__main-text/two-columns__main-text.css);
@import url(./two-columns/__paragraph/two-columns__paragraph.css);
@import url(./two-columns/__span-accent/two-columns__span-accent.css);
@import url(./digits/digits.css);
@import url(./section-title/section-title.css);
@import url(./section-subtitle/section-subtitle.css);
@import url(./table/table.css);
@import url(./table/__cell/table__cell.css);
@import url(./table/__heading/table__heading.css);
@import url(./table/__text/table__text.css)





/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
